# System Files
desktop.ini
Thumbs.db
.DS_Store

# IDE / Editor Files
.vscode/
.idea/

# Environment / Secret Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log

.vercel
